{
  email {$ACME_EMAIL}
}

{$DOMAIN}, www.{$DOMAIN} {
  encode gzip zstd
  handle /robots.txt {
    reverse_proxy backend:5000
  }
  handle /sitemap.xml {
    reverse_proxy backend:5000
  }
  handle /uploads/* {
    reverse_proxy backend:5000
  }
  handle {
    reverse_proxy frontend:80
  }
}

api.{$DOMAIN} {
  encode gzip zstd
  reverse_proxy backend:5000
}
